.gridBefore:before{
  content: ""; 
  display: block;
  position: absolute;
  width: 2px;
  height: 42%;
  left: 20px;  
  top: 13%;
  background-color: #f97316;
}
.howwework span:before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 3px;
  top: 15px;
  left: -95px;
  background-color: #f97316;
}
.titleNames:before{
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 5px;
  top: 15px;
  left: 0;
  background-color: #f97316;
}
.headBack{
  backdrop-filter: blur(10px);
  background: #ffffffc0;
  color: black !important;
}
.serviceIcon, .serviceIcon i{
  transition: .4s;
}
.serviceIcon:hover{
  background-color: white;
}
.serviceIcon:hover i{
  color: black !important;
}
.container .slick-track{
  display: flex;
  align-items: center;
  gap: 20px;
}